# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Model Files
*.pth

# Dataset
data/

# Logs
logs/

# Streamlit
.streamlit/

# OS Files
.DS_Store
Thumbs.db

.venv/
__pycache__/
*.pyc

models/
data/
logs/

.vscode/

.DS_Store